@font-face {
    font-family: duolingo;
    /* src: url(chrome-extension://__MSG_@@extension_id__/css/fonts/ff-din-round-regular.otf), */
    src: url(/css/fonts/ff-din-round-regular.otf);
}

@font-face {
    font-family: duolingoBold;
    /* src: url(chrome-extension://__MSG_@@extension_id__/css/fonts/ff-din-round-bold.otf), */
    src: url(/css/fonts/ff-din-round-bold.otf);
}

@font-face {
    font-family: nyt;
    /* src: url(chrome-extension://__MSG_@@extension_id__/css/fonts/imperial-normal-500.ttf), */
    src: url(/css/fonts/imperial-normal-500.ttf);
}

@font-face {
    font-family: nytBold;
    /* src: url(chrome-extension://__MSG_@@extension_id__/css/fonts/cheltenham-normal-400.ttf), */
    src: url(/css/fonts/cheltenham-normal-400.ttf);
}

@font-face {
    font-family: merriweather;
    src: url(/css/fonts/merriweather-regular.ttf);
}

div[data-pagelet^="FeedUnit"] { /* Articles default to hidden */
    display: none;
}

.to382e16 { /* Remove top icons */
    display: none;
}

div[data-pagelet="Stories"] { /* Remove stories item */
    display: none;
}

div[data-pagelet="VideoChatHomeUnit"] { /* Remove chat rooms item */
    display: none;
}

div[data-pagelet="RightRail"] { /* Remove chat sidebar */
    display: none;
}